<footer id="bottom" class="py-3 my-4" style="background-color: #c3b091 ; color: antiquewhite;">
    <ul class="nav justify-content-center border-bottom mb-3">
          <li class="nav-item"><p> <i class="bi bi-envelope-at"></i> Email: ranimrebai02@gmail.com  </p></li>
          <br/>
          <li class="nav-item"><p> <i class="bi bi-facebook"></i> Facebook: Ranim Rebai  </p></li> 
          <br/>
          <li class="nav-item"><p> <i class="bi bi-github"></i> GitHub: RanimRebai</p></li> 
    </ul>
    <p class="text-center text-body-secondary">© 2025 Made with a lot of Love, Tunisia</p> 
</footer>